<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
              crossorigin="anonymous"></script>
</head>
<body>
<div class="container my-5" style="width: 50%">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
<!--        <img src="/area02.png" alt="구역 대표 이미지" class="card-img-top">-->
        <div class="card-body">
          <h5 th:text="${campSiteInfo.areaName}" class="card-title">구역 이름</h5>
          <p th:text="${campSiteInfo.sitePrice}" class="card-text mb-0">가격</p>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">이용안내</h5>
          <p th:text="${campSiteInfo.sitePrice}" class="card-text mb-0">캠핑장 소개</p>
        </div>
      </div>

      <div class="row row-cols-3 text-center">
        <div class="card g-1 gx-1" th:each="item : ${campSiteLists}">
          <h5 class="card-title py-4" style="font-size: 0.95rem" th:text="${item.campSiteName}"></h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <h5 class="card-title">예약 정보</h5>
        <p>예약 날짜</p>
        <div>
          <p>예약인원</p>
          <button type="button" class="btn btn-dark">+</button>
          <span></span>
          <button type="button" class="btn btn-dark">-</button>
        </div>
        <div>
          <p>예약 차량</p>
        </div>
        <div>
          <p>캠핑카 전기 사용</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>